/* This is for the styling for outline of this website */
:root {
    --jet-color: #333333;
    --turquoise-color: #48E5C2;
    --seasalt-color: #FCFAF9;
    --desert-sand-color: #F3D3BD;
    --davys-gray-color: #5E5E5E;
    --highlight-color: #F66247;

    --box-shadow-hover: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    --box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

body {
    font-family: "Nunito Sans", sans-serif;
    margin: 0 auto;
}
h1 {
    font-size: 42px;
    font-weight: 400;
}
h2 {
    font-size: 32px;
    font-weight: 400;
}
h3 {
    font-size: 24px;
    font-weight: 400;
}
p {
    font-size: 16px;
    font-weight: 400;
}