{% include 'base/base.html' %}

<!-- Nav bar -->
{% include 'modules/navbar.html' %}

{% block content %}
<div class="container">
    <h3 class="changes-affecting-title">Heading for the key indices<sup>*</sup><span>Month YYYY</span></h3>
    <div class="changes-affecting">
        <div class="affected-item">
            <p>Source 9<sup>**</sup></p>
            <p>225</p>
        </div>
        <div class="affected-item">
            <p>Source</p>
            <p>13</p>
        </div>
        <div class="affected-item">
            <p>UFOs/Pandhara Lalang</p>
            <p>30</p>
        </div>
        <div class="affected-item">
            <p>REGM/RAJ</p>
            <p>21</p>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 60px;">
    {% for graph in graphs %}
    <div id="plot-{{ loop.index }}"></div>
    <script>
        const graphData = {{ graph | safe }};
        Plotly.newPlot('plot-{{ loop.index }}', graphData.data, graphData.layout);
    </script>
    {% endfor %}
</div>

{% endblock content %}

<!-- Footer -->
{% include 'modules/footer.html' %}