{% include 'base/base.html' %}

<!-- Nav bar -->
{% include 'modules/navbar.html' %}

{% block content %}
<div class="container">
    <h3 class="changes-affecting-title">Completed changes affecting regm<sup>*</sup><span>January 2025</span></h3>
    <div class="changes-affecting">
        <div class="affected-item">
            <p>Source 9<sup>**</sup></p>
            <p>225</p>
        </div>
        <div class="affected-item">
            <p>Source</p>
            <p>13</p>
        </div>
        <div class="affected-item">
            <p>UFOs/Another Long Sources</p>
            <p>30</p>
        </div>
        <div class="affected-item">
            <p>REGM/RAJ</p>
            <p>21</p>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 60px;"></div>

{% endblock content %}

<!-- Footer -->
{% include 'modules/footer.html' %}