{% include 'base/base.html' %}

<!-- Nav bar -->
{% include 'modules/navbar.html' %}

{% block content %}
<div class="container">
    <h3 class="changes-affecting-title">paribartan le hamilai kasto asar garchha<sup>*</sup><span>March 2024</span></h3>
    <div class="changes-affecting">
        <div class="affected-item">
            <p>Regmi 9<sup>**</sup></p>
            <p>225</p>
        </div>
        <div class="affected-item">
            <p>Lalang</p>
            <p>13</p>
        </div>
        <div class="affected-item">
            <p>UFOs/Pandhara Lalang</p>
            <p>30</p>
        </div>
        <div class="affected-item">
            <p>REGM/RAJ</p>
            <p>21</p>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Footer -->
{% include 'modules/footer.html' %}