<div class="card">
    <div class="card-body">
        <h4 class="card-title">Acronyms:</h4>
        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
        <p class="card-text">HEM: Hem Raj Regmi</p>
        <p class="card-text">RAJ: Hem Raj Regmi</p>
        <p class="card-text">REGM: Hem Raj Regmi</p>

        <p class="card-text">*Each title is tracked in a different tool</p>
        <p class="card-text">**Based on Regmi 9 field "Scheduled End Date"</p>
    </div>
</div>